.nav-link {
    color: #999c13 !important;
  }

  .navbar{
    background-color: rgb(255, 255, 255, 0.5);
        transition: 0.8s;
  }

  .dropdown-menu {
    border-bottom: solid 5px #999c13 !important;
  }

  .dropdown-item:hover {
    background-color: #999c13;
    color: white;
  }
  
  @media (max-width:480px),(min-width: 320px) {
    #myVideo{
      height: 70vh;
      margin-top: 10%;
    position: relative;
    }
    .bold{
      font-size: 31px;
    }
  }
  html,
  body {
    overflow-x: hidden;
  }
  
  html,
  body {
  
    scroll-behavior: smooth;
    scroll-snap-type: y;
  }
  #myVideo{
    width: 100%;
    /* height: 100%; */
    /* position: absolute; */
    left: 0;
    
  right: 0;
  bottom: 0;
  /* min-width: 100%; */
  /* min-height: 100%; */
  }
.dot{
  color: #999c13;
}

form{
  /* position: relative;/ */
  top: 50%;
  left: 50%;
  transform: translate(-0%,-0%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: block;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}





form:hover{
  width: 200px;
  cursor: pointer;
}




.text-color{
  color: #999c13;
}
  .video-overlap{
    /* width: 100%; */
    /* height: 100vh; */
    /* position: absolute; */
    /* z-index: 10; */
     top: 0%;
     /* margin-top: 30%; */
    display: block;
    /* background-color: #999C13; */
  }

  .sect .video-overlap{
    /* z-index: 10; */
    position: absolute;
    /* display: block; */
top: 3%;
  }

  .video-overlap h1 strong b{
    color: #999c13;
  }
  

 body {
  overflow: scroll;
  overflow-x: hidden; /* Hide scrollbars */
}

  .pro-head{
    font-size: 50px;
  }
  /*navbar hover start*/
.nav-item a:before {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: "";
  background: #9f2a06;
  transition: all 0.5s;
}
.nav-item a:hover:before{
  opacity: 1;
  width: 100%;
}
.nav-item a:before {
  left: 0px;
  top: 0px;
} 

.site-ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
input:focus {
  outline: 0;
}
.founder_class {
  font-size: 16px;
  background-position: top center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  color: #ffd35e;
  font-weight: 700;
}
.inline-block-ul li {
  display: inline-block;
} 
/*//for capital first letter*/
p::first-letter {
  text-transform: uppercase;
}
/* button:focus {
  outline: 0;
} */
.main-nav-li a {
  color: #999c13;
  margin-left: 10px;
  position: relative;
  padding: 8px 0px;
  font-size: 14px !important;
}
.main-nav-li .dropdown-menu a {
  margin-left: 0;
}
.dropbtn {
  font-size: 14px !important;
}
.main-nav-li a:hover {
  color: #999c13;
}
.main-nav-li a:before,
.main-nav-li a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: "";
  background: #9f2a06;
  transition: all 0.5s;
}
.main-nav-li a:before {
  right: 0px;
  top: 0px;
}
.main-nav-li a:after {
  left: 0px;
  bottom: 0px;
}
.main-nav-li a:hover:before{
  opacity: 0;
  width: 100%;
}

.main-nav-li a:hover:after {
  opacity: 1;
  width: 100%;
}
li.main-nav-li a.active {
  color:#9f2a06;
}
li.main-nav-li a.active {
  color: #999c13;
}
.dropbtn {
  background-color: transparent;
  color: #999c13 ;
  padding: 8px;
  margin-left: 10px;
  border: none;
}
.dropdown-menu {
  top: 90%;
  padding: 10px;
}
.dropdown {
  transition: transform 0.35s ease !important;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropbtn:hover {
  color: #9f2a06;
}
.dropdown-item:hover {
  background-color: transparent;
  color: #9f2a06; /*border-bottom:2px solid #ffd35e;*/
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
/* navbar hover end*/


/* 
 */


::selection {
  color: #fff;
  background: #17a2b8;
}
.wrapper {
  width: 400px;
  /* background: #fff; */
  border-radius: 10px;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}
header h2 {
  font-size: 24px;
  font-weight: 600;
}

.price-input {
  width: 100%;
  display: flex;
  margin: 20px 0 20px;
}
.price-input .field {
  display: flex;
  width: 100%;
  /* height: 45px; */
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #999;
  /* -moz-appearance: textfield; */
}

.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #999c13;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #999c13;
  pointer-events: auto;
  /* -webkit-appearance: none; */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #999c13;
  pointer-events: auto;
 
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* Support */
.support-box {
  top: 2rem;
  position: relative;
  bottom: 0;
  text-align: center;
  display: block;
}
.b-btn {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.b-btn.paypal i {
  color: blue;
}
.b-btn:hover {
  text-decoration: none;
  font-weight: bold;
}
.b-btn i {
  font-size: 20px;
  color: yellow;
  margin-top: 2rem;
}


.sect4 {
    background-image: url(../Image/background.png);
    width: 100%;
    /* height: 100vh; */
    display: grid;
    
    place-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  
  }

  .left-line , .right-line{
    width: 35%;
}

  /* .heading-new-div{
   margin-top: ; 
  } */




.btn{
  /* background-color: #9f2a06; */
  font-weight: 500;
  font-size: 20px;
  /* padding: 4px; */
  box-shadow: none;
  color: #ddd;
  padding-right: 80px;
  padding-left: 80px;
  /* padding: 0.5rem 1rem; */
}


/* card */
.btn{
  /* background-color: #9f2a06; */
  font-weight: 500;
  font-size: 20px;
  padding: 5px;
  box-shadow: none;
  color: #ddd;
  /* padding-right: 80px; */
  /* padding-left: 80px; */
  
}

.btnx{
 
  font-weight: 400;
  font-size: 18px;
  padding: 1px;
  
  color: #ddd;
 border-radius: 25px;
}

.btn-outline{
  color: #999C13;
}

a
{
    text-decoration: none;
    /* color: #ddd !important; */
}
.product-card{
    width: 310px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    border-radius: 20px;
    margin: 50px auto;
    background: #fafafa;
    transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2); 
}

.product-card:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }

  .product-card1{
    width: 300px;
    height: 90%;
    position: relative;   
    box-shadow: 0 2px 7px #dfdfdf;
    border-radius: 27px;
    /* margin: 50px auto; */
    background: #fafafa;
    transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2); 
}

.product-card:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product-details {
    padding: 25px;
}

.product-catagory {
    display: block;
    text-transform: uppercase;
    margin-bottom: 18px;
  color: #07051a;
    font-weight: 600;
    text-decoration: none;
}




.product-enquiry a{
  text-decoration: none;
  color: #256eff;
}


.product-bottom-details {
    overflow: hidden;
    /* border-top: 1px solid #eee; */
    padding-top: 20px;
    display: block;
}

.product-bottom-details div {
    color: #9f2a06;
    justify-content: space-between;
}

.product-price {
    font-size: 16px;
    color: #256eff;
    font-weight: 600;
    margin-right: 30px;
}



.product-links {
    text-align: right;
}

.product-links a i{
    display: inline-block;
    margin-left: 5px;
    color: #fbb72c;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}





ul {
	list-style-type: none;
	margin-left: 37%;
	padding: 0;
}

.rating {
	margin-left: 37%;
}

/* .page {
	background-color: #dfe6e0;
	padding: 2%;
	margin: auto;
} */

.fa {
	color: #f2dd1d;
}

.card-img-top {
	width: 90%;
	height: 225px;
}

.view {
	background-color: #fdfdfc;
	padding: 10px;
	margin: 20px;
}

.view img{
  object-fit: cover;
}

.card {
	width: 95%;
	padding: 0px;
	margin-left: 2%;
	box-shadow: #999C13;
  height: 95%;
  background-color: #fafafa;
}

.card-footer {
	margin-top: 25px;
}

.price {
	color: aliceblue;
	font-weight: 600;
	font-size: 20px
}

.card-body h4 a{

  color: #07051a;
  font-weight: 600;
  text-decoration: none;
}

 
.product-link{
  margin-bottom: 50%;
}


.fa-caret-down{
  color: #999c13;
}

/* .search{
  position: relative;
  transition: all 1s;
  width: 200px;
  height: 50px;
  background: white;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
  right: 1%;
}

.search input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}





.search:hover .fa{
  background: #999C13;
  color: white;
} */

